body{
 background-color: #36393E;
}
h1{
 text-align: center;
 color: white;
 font-family: sans-serif;
}
h5{
 color: white;
 font-family: sans-serif;
}
.mySlides {display: center}
img {vertical-align: middle;}
/* Slideshow container /
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/ Hide the images by default */
.mySlides {
  display: none;
}
.toolbar a {
  float: left;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px 10px 15px;
}
.toolbar a.activenow{
  float: left;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px 10px 15px;
  background-color: #73FFF2;
  color: #455453;
}
.toolbar{
  font-family: sans-serif;
  text-align: left;
  background-color: #00FFE8;
  overflow: hidden;
  border-radius: 5px;
  color: black;
}
.toolbar a:hover {
  color: black;
  background-color: #8bbded;
}
